/* classi generiche */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: black;
}

i, span{
    color: white;
}

/* classi riutilizzabili */

.small{
    font-size: 10px;
}

/****** MAIN ******/

/* sezione speaker e screen */

main{
    position: relative;
}

.icon-video {
    position: absolute;
    top: 5px;
    right: 5px;
}

.speaker-view{
    display: inline-block;
    background-color: gray;
    padding: 3px;
    border-radius: 5px; 
    font-size: small;
}

.full-screen{
    display: inline-block;
    background-color: gray;
    padding: 3px;
    border-radius: 5px; 
    font-size: small;
}

/* sezione video */

.container-video{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
}

.img-series{
    width: 160px;
    height:110px;
    background-color: yellow;
    background-image: url(https://picsum.photos/300/200);
    background-size: cover;
    margin: 3px;
    position: relative;
}

.container-video span{
    display: inline-block;
    font-size: small;
    padding: 3px;
    background-color: rgba(189, 195, 199, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
}

/****** NAV ******/

nav{
    background-color: rgb(32, 30, 30);
    display: flex;
    align-items: center;
    padding-left: 10px;
}

nav > * {
    width: calc(100% / 3);
}

/* inizio sezione audi-video */

.audio, .video{
    display: inline-block;
    text-align: center;
    margin: 8px;
}

nav span{
    display: block;
    font-size: x-small;
}

nav i{
    padding-bottom: 5px;
    font-size: x-large;
}

/* inizio sezione setting */

.settings ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    text-align: center;
}

.settings li{
    color: white;
    font-size: x-small;
}

.settings i{
    display: block;
    padding-bottom: 5px;
}

#inline{
    display: inline;
    padding-left: 10px;
}

.green{
    color: rgb(67, 197, 67);
}

/* inizio sezione end-meeting */

.end-meeting span{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    font-size: small;
}